{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/js/bootstrap-datetimepicker/css/datetimepicker.css"/>
    <style>
        .unit_span {
            display: inline-block;
            min-width: 45px;
        }
    </style>
{% endblock %}
{% block body %}
    <div id="template" hidden>
        <div>
            <input type="number" value="" name="id" hidden>
            <label for="personnel">联系人
                <select name="personnel" id="personnel" class="personnel" required>
                    {% if order.firm.personnel|length != 1 %}
                        <option value=""></option>
                    {% endif %}
                    {% for person in order.firm.personnel %}
                        <option value="{{ person.id }}">{{ person.name }}
                        </option>
                    {% endfor %}
                </select>
            </label>
            <label for="product_id">产品
                <select name="product_id" id="product_id" class="product" required>
                    <option value=""></option>
                    {% for product in order.firm.EP %}
                        <option value="{{ product.id }}" data-price="{{ product.price }}"
                                data-unit_name="{{ product.unit.name }}"
                                data-unit_id="{{ product.unit_id }}">{{ product.product.name }}
                        </option>
                    {% endfor %}
                </select>
            </label>
            <label for="price" class="small-label">单价
                <input type="number" name="price" id="price" step="0.01" class="price small-input" required>
                <span>单位: <span class="unit_span"></span>
                    <input type="text" readonly name="unit" class="unit" hidden>
                </span>
            </label>
            <label for="quantity" class="small-label">数量
                <input type="number" name="quantity" id="quantity" step="0.01" required class="small-input">
            </label>
            <label for="real" class="small-label">实量
                <input type="number" name="real" id="real" required class="small-input">
            </label>
            <button class="delete" type="button">删除</button>
        </div>
    </div>
    <form action="" method="post" autocomplete="off">
        <h1>{{ order.firm.name }}</h1>
        <button>提交</button>
        <label for="deadline">完成时间<input size="16" type="text" readonly class="form_datetime" name="deadline"
                                         value="{{ order.deadline_to_string }}"></label>
        <label for="remarks">订单备注信息<textarea name="remarks" id="" cols="30"
                                             rows="10">{{ order.remarks }}</textarea></label>
        <div id="input">
            {% for form in order.forms %}
                <div>
                    <input type="number" value="{{ form.id }}" name="id" hidden>
                    <label for="personnel">联系人
                        <select name="personnel" id="personnel" class="personnel" required>
                            {% for person in order.firm.personnel %}
                                <option value="{{ person.id }}"
                                        {% if person.id == form.person_id %}selected{% endif %}>{{ person.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </label>
                    <label for="product_id">产品
                        <select name="product_id" id="product_id" class="product" required>
                            <option value=""></option>
                            {% for product in order.firm.EP %}
                                <option value="{{ product.id }}" data-price="{{ product.price }}"
                                        data-unit_name="{{ product.unit.name }}"
                                        data-unit_id="{{ product.unit_id }}"
                                        {% if form.product_id == product.id %}selected{% endif %}
                                >{{ product.product.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </label>
                    <label for="price" class="small-label">单价
                        <input type="number" name="price" id="price" step="0.01" class="price small-input" required
                               value="{{ form.price }}">
                        <span>单位: <span class="unit_span">{{ form.unit.name }}</span>
                    <input type="text" readonly name="unit" class="unit" hidden value="{{ form.unit_id }}">
                </span>
                    </label>
                    <label for="quantity" class="small-label">数量
                        <input type="number" name="quantity" id="quantity" step="0.01" required class="small-input"
                               value="{{ form.quantity }}">
                    </label>
                    <label for="real" class="small-label">实量
                        <input type="number" name="real" id="real" required class="small-input"
                               value="{{ form.real_quantity }}" step="0.01">
                    </label>
                    <button class="edit-delete" type="button"
                            data-href="{{ url_for('recording.form_delete', form_id=form.id) }}">删除
                    </button>
                </div>
            {% endfor %}

        </div>
        <button type="button" id="add_input">添加</button>
    </form>
{% endblock %}
{% block script %}
    {% with add = 0 %}
        {% include 'recording/recording_script.html' %}
    {% endwith %}
{% endblock %}