{% extends 'base.html' %}
{% block head %}

{% endblock %}
{% block body %}
    <div class="col-lg-8">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>联系人</th>
                <th>产品</th>
                <th>数量</th>
                <th>单位</th>
                <th>实发数</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for form in order.forms %}
                <tr>
                    <td>{{ form.person.name }}</td>
                    <td>{{ form.product.name }}</td>
                    <td>{{ form.quantity }}</td>
                    <td>{{ form.unit.name }}</td>
                    <td><input type="number" name="real_quantity" value="{{ form.real_quantity }}" step="0.1"
                               class="small-input"></td>
                    <td>
                        <button type="button">删除</button>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <button>新增订单</button>
    </div>
{% endblock %}
{% block script %}

{% endblock %}