{% extends 'base.html' %}
{% block head %}
    {% include 'recording/recording_head.html' %}
{% endblock %}
{% block body %}
    <div id="template" hidden>
        <div class="inputs col-lg-12 panel">
            <label for="personnel">联系人:
                <select name="personnel" id="personnel" class="personnel form-control input-sm" required>
                    {% if firm.personnel|length != 1 %}
                        <option value=""></option>
                    {% endif %}
                    {% for person in firm.personnel %}
                        <option value="{{ person.id }}">{{ person.name }}
                        </option>
                    {% endfor %}
                </select>
            </label>
            <label for="product_id">产品:
                <select name="product_id" id="product_id" class="product form-control input-sm" required>
                    <option value=""></option>
                    {% for id,items in firm.product_data.items() %}
                        <option value="{{ id }}">{{ items.name }}</option>
                    {% endfor %}
                </select>
            </label>
            <label for="unit_id">单位:
                <select name="unit_id" id="unit_id" class="unit-select form-control input-sm" required>
                </select>
            </label>
            <label for="price" class="small-label">单价:
                <input type="number" name="price" id="price" step="0.01" class="price small-input" required>
            </label>
            <label for="quantity" class="small-label">数量:
                <input type="number" name="quantity" id="quantity" step="0.01" required class="small-input">
            </label>
            {% if real_status() %}
                <label for="real" class="small-label">实量:
                    <input type="number" name="real" id="real" step="0.01" class="small-input">
                </label>
            {% endif %}
            <button class="delete  btn btn-danger" type="button">删除</button>
        </div>
    </div>
    <form action="" method="post">
        <h1>{{ firm.name }}订单数据录入</h1>
        <button type="button" id="add_input" class="btn btn-success">添加</button>
        <label for="deadline" class="datetime_width">
            完成时间<i class="fa fa-clock-o"></i>
            <input size="16" type="text" readonly class="form_datetime datetime_width" name="deadline">
        </label>
        <div id="input"></div>
        <div><label for="remarks">订单备注信息<textarea name="remarks" id="" cols="100" rows="1"></textarea></label>
            <button class="btn btn-info firm-new">提交</button>
        </div>

    </form>
{% endblock %}

{% block script %}

    {% with add = 5 %}
        {% include 'recording/recording_script.html' %}
    {% endwith %}
{% endblock %}