{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/js/bootstrap-datetimepicker/css/datetimepicker.css"/>
    <style>
        .unit_span {
            display: inline-block;
            min-width: 45px;
        }
    </style>
{% endblock %}
{% block body %}
    <div id="template" hidden>
        <div>
            <label for="personnel">联系人
                <select name="personnel" id="personnel" class="personnel" required>
                    {% if company.personnel|length != 1 %}
                        <option value=""></option>
                    {% endif %}
                    {% for person in company.personnel %}
                        <option value="{{ person.id }}">{{ person.name }}
                        </option>
                    {% endfor %}
                </select>
            </label>
            <label for="product_id">产品
                <select name="product_id" id="product_id" class="product" required>
                    <option value=""></option>
                    {% for product in company.EP %}
                        <option value="{{ product.product_id }}" data-price="{{ product.price }}"
                                data-unit_name="{{ product.unit.name }}"
                                data-unit_id="{{ product.unit_id }}">{{ product.product.name }}
                        </option>
                    {% endfor %}
                </select>
            </label>
            <label for="price" class="small-label">单价
                <input type="number" name="price" id="price" step="0.01" class="price small-input" required>
                <span>单位: <span class="unit_span"></span>
                    <input type="text" readonly name="unit" class="unit" hidden>
                </span>
            </label>
            <label for="quantity" class="small-label">数量
                <input type="number" name="quantity" id="quantity" step="0.01" required class="small-input">
            </label>
            <label for="real" class="small-label">实量
                <input type="number" name="real" id="real" step="0.01" class="small-input">
            </label>
            <button class="delete" type="button">删除</button>
        </div>
    </div>
    <form action="" method="post">
        <h1>{{ company.name }}</h1>
        <button>提交</button>
        <label for="deadline">完成时间<input size="16" type="text" readonly class="form_datetime" name="deadline"></label>
        <label for="remarks">订单备注信息<textarea name="remarks" id="" cols="30" rows="10"></textarea></label>
        <div id="input"></div>
        <button type="button" id="add_input">添加</button>
    </form>
{% endblock %}
{% block script %}
    {% with add = 5 %}
        {% include 'recording/recording_script.html' %}
    {% endwith %}
{% endblock %}