<link rel="stylesheet" type="text/css" href="/static/js/bootstrap-datetimepicker/css/datetimepicker.css"/>
<style>
    .unit_span {
        display: inline-block;
        min-width: 45px;
    }

    .datetime_width {
        width: 38%;
    }

    label {
        margin-right: 2%;
    }

    .inputs {
        margin-bottom: 1%;
        padding: 10px;
    }

    .form-control.input-sm {
        display: inline !important;
        width: auto !important;
    }

    textarea {
        vertical-align: middle;
    }

    h1 {
        text-align: center;
    }

    input, select, textarea {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: bolder;
        font-size: 18px !important;
        color: #000000 !important;
    }

    input {
        height: auto !important;
    }

    select {
        height: auto !important;
    }
</style>