{% extends 'base.html' %}
{% block head %}

{% endblock %}
{% block body %}
    {% for order in orders %}
        <div>
            <input type="checkbox" value="{{ order.id }}">
            <span>{{ order.firm.name }}</span>
            <span>{{ order.string_deadline }}</span>
            <span>{{ order.remarks }}</span>
            <a href="{{ url_for('billing.invoice_print', order_id=order.id) }}">打印</a>
            <a href="{{ url_for('recording.order_edit', order_id=order.id) }}">编辑/查看</a>
            <div>
                {% for name, info in orders_info(order).items() %}
                    <span>{{ name }}:{{ info.quantity|round(2) }}{{ info.unit }}</span>
                {% endfor %}

            </div>
        </div>
    {% endfor %}

{% endblock %}
{% block script %}

{% endblock %}