<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/invoice_common.css">
<style>
    table {
        border: none !important;
        border-collapse: separate;
        border-spacing: 10px;
        width: 90%;
    }

    table tbody {
        border: none !important;
    }

    table tbody tr {
        border: none !important;

    }

    table tbody tr td:nth-child(1) {
        width: 20%;
    }

    table tbody tr td:nth-child(2){
        width: 25%;
    }

    table tbody tr td:nth-child(3) {
        width: 25%;
    }

    table tbody tr td:nth-child(4) {
        width: 5%;

    }

    table tbody tr td:nth-child(5) {
        width: 5%;
    }

    .table-div {
        padding-top: 14%;
        padding-left: 14%;
        padding-right: 10%;
    }

    table tbody tr td {
        text-align: center;
    }
</style>
<button onclick="history.back(-1)" class="cancel-btn">取消/返回</button>
<button onclick="window.print()" class="print-btn">打印</button>
<div>
    <div class="selfInfo-div">
        {{ order.firm.name }}
        {{ order.deadline_format('%Y年 %m月 %d日',True) }}
    </div>
    <div class="table-div">
        <table>
            <tbody>
            {% for form in order.forms %}
                <tr>
                    <td>{{ form.person.name }}</td>
                    <td>{{ form.product.name }}</td>
                    <td>{{ form.quantity }} {{ form.unit.name }}</td>
                    <td>{{ form.price }}</td>
                    <td>{{ (form.price* form.quantity)|round(2) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="billing-row">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div>{{ price_sum }}</div>
        </div>
    </div>
</div>
<script>
    window.onload = function () {
        window.print()
    }
</script>