<style>
    .print-btn {
        float: right;
    }

    .order-info {
        display: inline-block;
        padding: 0 0 5% 0;
        font-size: 30px;
        font-weight: 100;
        width: 33%;
        font-family: 方正兰亭超细黑简体;
    }

    .wrapper {
        {#padding: 25px;#}
    }

    .wrapper-order-info {
        display: inline-block;
    }



    .summary-name {
        font-size: x-large;
    }

    .summary-wrapper {
        display: flex;
        position: relative;
        bottom: 0;
    }

    .summary-info {
        margin-right: 20px;
    }

    h1 {
        display: contents;
        text-align: center;
    }
    p{
        margin: 0;
    }
</style>
<link rel="stylesheet" href="/static/css/neo.css">
<div>
    <button onclick="history.back(-1)" class="cancel-btn">取消/返回</button>
    <button onclick="window.print()" class="print-btn">打印</button>
    <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;生产信息汇总
        &nbsp;{{ now.strftime('%m月%d日') }}</h1>
</div>
<div class="wrapper">
    <div class="wrapper-order-info">
        {% for order in orders %}
            <div class="order-info">
                <p class="firm-name">{{ order.firm.name }}</p>
                {#                <span>{{ order.deadline_format('%Y-%m-%d %H:%M', True) }}</span><br>#}
                {% if order.remarks %}
                    <span>{{ order.remarks }}</span><br>
                {% endif %}
                {% for form in order.forms %}
                    <span>{{ form.person.name }}</span>
                    <span>{{ form.product.name }}</span>
                    <span>{{ form.quantity }}</span>
                    <span>{{ form.unit.name }}</span> <br>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <div class="summary-wrapper">
        {% for key, values in form_info.items() %}
            <div class="summary-info">
                <span class="summary-name">{{ key }}{{ values.quantity|round(2) }}{{ values.unit }}</span>
            </div>
        {% endfor %}
    </div>
</div>

<script>
    window.onload = function () {
        window.print();
    }
</script>
