<style>
    body {
        width: 297mm;
        {#height: 210mm;#}
        margin: 0;
        {#border: solid 1px;#}
        height: auto;
    }

    .print-btn {
        float: right;
    }

    .order-info {
        display: inline-block;
        padding: 0 0 5% 0;
        font-size: 30px;
        font-weight: 100;
        width: 33%;
        font-family: 方正兰亭超细黑简体;
    }

    .wrapper-order-info {
        width: 100%;
        display: contents;
    }

    .wrapper-order-info div {
        width: 49%;
        display: inline-flex;
    }

    .summary-name {
        font-size: x-large;
    }

    .summary-wrapper {
        display: flex;
        position: static;
        bottom: 0;
    }

    .summary-info {
        margin-right: 20px;
    }

    ul li {
        font-size: 30px;
        font-family: 方正兰亭超细黑简体;
        font-weight: 100;
    }

    h1 {
        display: contents;
        text-align: center;
    }

    p {
        margin: 0;
    }

    .notlist {
        list-style-type: none
    }

    ul {
        width: 100%;
    }
</style>
<link rel="stylesheet" href="/static/css/neo.css">
<link rel="stylesheet" href="/static/css/font-awesome.css">
<div>
    <button onclick="history.back(-1)" class="cancel-btn">取消/返回</button>
    <button onclick="window.print()" class="print-btn">打印</button>
    <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;生产信息汇总
        &nbsp;{{ now.strftime('%m月%d日') }}</h1>
</div>
<div class="wrapper-order-info">
    {% for order in orders %}
        <div>
            <ul>
                <li class="notlist"><i class="fa fa-square-o"></i> {{ order.firm.name }}</li>
                {% if order.remarks %}
                    <li>{{ order.remarks }}</li>
                {% endif %}
                {% with name = Name() %}
                    {% for form in order.forms.order_by('person_id').all() %}
                        {% if name.check(form.person.name) %}
                            <li class="notlist">
                                &nbsp;&nbsp;&nbsp;{{ form.product.name }}{{ form.real_quantity }}{{ form.unit.name }}
                            </li>
                        {% else %}
                            <li>
                                {{ form.person.name }} {{ form.product.name }}{{ form.real_quantity }}{{ form.unit.name }}
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endwith %}
            </ul>
        </div>
    {% endfor %}
</div>
<div class="summary-wrapper">
    {% for key, values in form_info.items() %}
        <div class="summary-info">
            <span class="summary-name">{{ key }}{{ values.quantity|round(2) }}{{ values.unit }}</span>
        </div>
    {% endfor %}
</div>
<script>
    window.onload = function () {
        window.print();
    }
</script>
