@media print {
    .print-btn {
        display: none;
    }

    .cancel-btn {
        display: none;
    }
}

body {
    width: 195mm;
    height: 270mm;
}

.print-btn {
    float: right;
}
.table-div{
    margin-left: 15mm;
}
.selfInfo{
    padding-top: 15mm;
    padding-left: 8mm;
    margin-bottom: 10mm;
    padding-right: 35mm;
}
.selfInfo div:nth-child(2) span{
    float: right;
}
table tbody tr td:nth-child(1){
    width: 23mm;
}
table tbody tr td:nth-child(2){
    width: 37mm;
}
table tbody tr td:nth-child(3){
    width: 70mm;
}
table tbody tr {
    height: 10mm;
}
.billing-row{
    text-align: center;
    margin-left: 91mm;
}