@media print {
    .print-btn {
        display: none;
    }

    .cancel-btn {
        display: none;
    }
}

.table-div {
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 13%;
}

.table-div div {
    display: flex !important;
}

.selfInfo-div {
    padding: 15% 0 1% 55%;
    margin: 0;
}

.selfInfo-div span {
    margin: 0 10% 0 0;
}

.selfInfo-div span span {
    margin: 0 0 0 2%;
}

span {
    font-size: 16px;
    font-weight: bold;
}

.billing-row div {
    margin-bottom: 2.4%;
}

.billing-row div:first-child {
    width: 30%;
}

.billing-row div:nth-child(2) {
    width: 30%;
}

.billing-row div:nth-child(3) {
    width: 15%;
}

.billing-row div:nth-child(4) {
    width: 10%;
}

.billing-row div:nth-child(5) {
    width: 15%;
}

input {
    border: none;
}