.small-input {
    width: 80px;
}

.small-label {
    width: 80px;
    display: inline;
}

/* page start */
.ui.floated.pagination.menu.page_div > a {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.ui.floated.pagination.menu.page_div > a:hover {
    color: #fff;
    background-color: #a978d1;
    border-color: #a978d1;
}

.ui.floated.pagination.menu.page_div > a.item.action {
    background-color: #a978d1;
    border-color: #a978d1;
    color: #0c0c0c;
}

/* page end */


/* form start */
input.check-gif {
    background: url("/static/img/check.gif") right no-repeat !important;

}

/* form end */
/* 公司选择页 start */
.btn.btn-success.firm {
    margin: 0 0 2% 5%;
}

.btn.firm-new {
    margin-top: 2%;
    float: right;
}

.row.state-overview a:hover section {
    background: #41a173;
}

.row.state-overview {
    padding: 0 5% 0 5%;
}

.color-black {
    color: #0f0f0f !important;
}

.firm-a {
    padding-top: 8px;
    padding-bottom: 8px;
}

/* 公司选择页 end */
/* 产品 start */
.product-new {
    float: right;
}

.unit_info-span {
    font-weight: bolder;
    font-size: 20px
}

/* 产品 end */