{% extends 'base.html' %}
{% block body %}
    <div class="col-lg-6">
        <section class="panel">
            <header class="panel-heading">
                编辑产品信息 <a class="btn btn-danger product-new"
                          href="{{ url_for('product.delete', product_id=product.id) }}">删除产品</a>
            </header>
            <div class="panel-body">
                <form role="form" action="" method="post">
                    <div class="form-group">
                        <label>产品名</label>
                        <div class="iconic-input">
                            <i class="fa fa-id-card-o"></i>
                            <input type="text" class="form-control" placeholder="产品名" required name="name"
                                   value="{{ product.name }}">
                        </div>
                    </div>
                    <button class=" btn btn-info product-new">保存</button>
                </form>

            </div>
        </section>
    </div>
    <div class="col-lg-6">
        <section class="panel">
            <header class="panel-heading">
                产品计量单位 <a class="btn btn-success product-new"
                          href="{{ url_for('product.unit_new', product_id=product.id) }}">新增单位</a>
            </header>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>单位名</th>
                        <th>换算比例</th>
                        <th>单价</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for unit in product.unit_all %}
                        <tr>
                            <td>{{ unit.name }}</td>
                            <td>{{ unit.multiple }}</td>
                            <td>{{ unit.price }}</td>
                            <td><a href="{{ url_for('product.unit_edit', unit_id=unit.id) }}">编辑</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
{% endblock %}
{% block script %}

{% endblock %}