{% extends 'base.html' %}
{% block body %}
    <form action="" method="post">
        <table>
            <thead>
            <tr>
                <th>产品名</th>
                <th>计量单位</th>
                <th>价格</th>
            </tr>
            </thead>
            <tbody>
            {% for id,product in company.products.items() %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td><select name="unit" id="unit_id" required>
                        <option value=""></option>
                        {% for unit in unit_list %}
                            <option value="{{ unit.id }}"
                                    {% if product.unit_id == unit.id %}selected{% endif %}>{{ unit.name }}</option>
                        {% endfor %}
                    </select></td>
                    <td><input type="number" value="{{ product.price }}" name="{{ id }}" step="0.1"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <button>提交</button>
    </form>
{% endblock %}
{% block script %}

{% endblock %}