{% extends 'base.html' %}
{% block body %}
    <form action="" method="post">
        <table>
            <thead>
            <tr>
                <th>产品名</th>
                <th>计量单位</th>
                <th>价格</th>
            </tr>
            </thead>
            <tbody>
            {% for ep in company.EP %}
                <tr>
                    <td>{{ ep.product.name }}</td>
                    <td>
                        <select name="unit" id="unit_id" required>
                            <option value=""></option>
                            {% for unit in ep.product.unit_all %}
                                <option value="{{ unit.id }}"
                                        {% if ep.unit_id == unit.id %}selected{% endif %}>{{ unit.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td><input type="number" value="{{ ep.price }}" name="{{ ep.id }}" step="0.1"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <button>提交</button>
    </form>
{% endblock %}
{% block script %}

{% endblock %}