{% extends 'base.html' %}
{% block body %}
    <div class="col-sm-6">
        <section class="panel">
            <header class="panel-heading head-border">
                <h3>价格设定</h3>
            </header>
            <form action="" method="post">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th><i class="fa fa-id-card-o"></i> 产品名</th>
                        <th><i class="fa fa-balance-scale"></i> 计量单位</th>
                        <th><i class="fa fa-yen"></i> 价格</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for ep in firm.EP.order_by('product_id') %}
                        <tr>
                            <td>{{ ep.product.name }}</td>
                            <td>
                                {{ ep.unit.name }}
{#                                <select name="unit" id="unit_id" required>#}
{#                                    <option value=""></option>#}
{#                                    {% for unit in ep.product.unit_all %}#}
{#                                        <option value="{{ unit.id }}"#}
{#                                                {% if ep.unit_id == unit.id %}selected{% endif %}>{{ unit.name }}</option>#}
{#                                    {% endfor %}#}
{#                                </select>#}
                            </td>
                            <td><input type="number" value="{{ ep.price }}" name="{{ ep.id }}" step="0.01"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <button class="btn btn-info product-new">提交修改</button>
            </form>
        </section>
    </div>
{% endblock %}
{% block script %}

{% endblock %}