{% extends 'base.html' %}
{% block body %}
    <div class="col-md-12">
        <section class="panel post-wrap pro-box team-member">
            <aside class="bg-primary v-align">
                <div class="panel-body text-center">
                    <div class="team-member-wrap">
                        <div class="team-member-info">
                            <div class="action-set">
                                <h2>{{ firm.name }}</h2>
                            </div>
                            <div class="team-title">
                                <a href="{{ url_for('firm.company_edit', firm_id=firm.id) }}"
                                   class="btn  btn-block addon-btn m-b-10 btn-warning">
                                    <i class="fa fa-pencil-square-o"></i>
                                    编辑公司信息
                                </a>
                                <a href="{{ url_for('firm.order_list', firm_id=firm.id) }}"
                                   class="btn btn-default btn-block addon-btn m-b-10 color-black firm-a">
                                    <i class="fa fa-jpy"></i>
                                    订单列表
                                </a>
                                <a href="{{ url_for('product.fixed_price', firm_id=firm.id) }}"
                                   class="btn btn-danger btn-block addon-btn m-b-10">
                                    <i class="fa fa-jpy"></i>
                                    产品定价
                                </a>
                                <a class="btn btn-info btn-block addon-btn m-b-10">
                                    <i class="fa fa-jpy"></i>
                                    订单核对
                                </a>
                            </div>

                            <div class="call-info">
                                {#                               左侧中间#}
                            </div>
                            <div class="status">
                                <h6>{{ firm.address }}</h6>

                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <aside>
                <header class="panel-heading head-border">
                    联系人
                    <span class="action-tools pull-right">
                                    <a class="fa fa-reorder" href="javascript:;"></a>
                                </span>
                </header>
                <div class="post-info">
                    <ul class="team-list cycle-pager external" id="no-template-pager">
                        {% for people in firm.personnel %}
                            <li>
                                <a href="{{ url_for('firm.people_edit', people_id=people.id) }}">
                                            <span class="thumb-small">
                                                <img class="circle" src="/static/img/img2.jpg" alt="">
                                                <i class="online dot"></i>
                                            </span>
                                    <span class="name">{{ people.name }}</span>
                                    <span class="name">{{ people.telephone }}</span>
                                    <span class="name">{{ people.remarks }}</span>
                                </a>
                            </li>
                        {% endfor %}

                    </ul>
                    <div class="add-more-member">
                        <a href="javascript:;" class=" ">&nbsp;</a>
                        <a href="{{ url_for('firm.people_new', firm_id=firm.id) }}"
                           class="btn btn-success firm-new" style="color: #0c0c0c">
                            新增联系人
                        </a>
                    </div>
                </div>
            </aside>
        </section>
    </div>
{% endblock %}
{% block script %}

{% endblock %}