{% extends 'base.html' %}
{% block body %}
    <a href="{{ url_for('firm.new') }}">新增 公司/单位</a>
    <table>
        <thead>
        <tr>
            <th>公司/单位名</th>
            <th>地址</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td>{{ company.name }}</td>
                <td>{{ company.address }}</td>
                <td><a href="{{ url_for('recording.recording_page', company_id=company.id) }}">录单</a> <a
                        href="{{ url_for('firm.company_index', company_id=company.id) }}">详情</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block script %}

{% endblock %}